###### Data from 
[kagle]  (https://www.kaggle.com/datasets/blastchar/telco-customer-churn/download?datasetVersionNumber=1)

[github] (https://github.com/Briankimany/data-science/blob/main/week%201/churn.csv)

THE DATA REPRESENTS THE CHURN RATE FROM THE TELCOM DATA SET 


> Customers who left within the last month – the column is called Churn

Services that each customer has signed up for – phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies

Customer account information – how long they’ve been a customer, contract, payment method, paperless billing, monthly charges, and total charges

Demographic info about customers – gender, age range, and if they have partners and dependents

In [2]:
import pandas as pd 
import numpy as np

###### RELEVANT COLUMNS
> CreditScore—can have an effect on customer churn, since a customer with a higher credit score is less likely to leave the bank.

> Geography—a customer’s location can affect their decision to leave the bank.

> Gender—it’s interesting to explore whether gender plays a role in a customer leaving the bank.

> Age—this is certainly relevant, since older customers are less likely to leave their bank than younger ones.

> Tenure—refers to the number of years that the customer has been a client of the bank. Normally, older clients are more loyal and less likely to leave a bank.

> Balance—also a very good indicator of customer churn, as people with a higher balance in their accounts are less likely to leave the bank compared to those with lower balances.

> HasCrCard—denotes whether or not a customer has a credit card. This column is also relevant, since people with a credit card are less likely to leave the bank.

> IsActiveMember—active customers are less likely to leave the bank.

> EstimatedSalary—as with balance, people with lower salaries are more likely to leave the bank compared to those with higher salaries.

> Exited (1(y), o(n))

In [4]:
data = pd.read_csv("/home/brian/PycharmProjects/allison learing/churn.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
print (type(data))

<class 'pandas.core.frame.DataFrame'>